/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #001f3f; /* Azul oscuro */
    color: #ffffff; /* Blanco */
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #000000; /* Fondo negro */
    color: #ffffff; /* Texto blanco */
    padding: 2rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Navegación */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #000000; /* Fondo negro */
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f1c40f; /* Amarillo en hover */
}

/* Secciones */
section {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background-color: #000000; /* Recuadros negros */
    color: #ffffff; /* Texto blanco */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

/* Galería */
.galeria {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaciado entre las imágenes */
}

.galeria img {
    width: 200px; /* Ancho fijo */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 10px; /* Bordes redondeados */
    transition: transform 0.3s; /* Transición para el efecto hover */
}

.galeria img:hover {
    transform: scale(1.1); /* Efecto de aumento al pasar el mouse */
}

/* Redes Sociales */
#redes-sociales ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

#redes-sociales li {
    margin: 0 15px;
}

.redes-img {
    width: 50px; /* Ajusta el tamaño según lo necesites */
    height: auto; /* Mantiene la proporción de la imagen */
    transition: transform 0.3s; /* Transición para el efecto hover */
}

.redes-img:hover {
    transform: scale(1.1); /* Efecto de aumento al pasar el mouse */
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #000000;
    color: #ffffff;
}

